body {
    background-color: rgb(234, 234, 234);
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}
.over-cont {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p {
    margin: 0px;
}
button {
    transition-duration: 0.2s;
}


.title {
    text-align: center;
    margin: 0px;
}
.title-cont {
    font-size: 3vw;
}
button {
    cursor: pointer;
}
input {
    margin: 5px;
}
#myChart {
    background-color: rgb(227, 227, 227);
    margin-bottom: 2vh;
    
}

#title-top {
    
    background-color: rgb(26, 26, 26);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

@media(max-width: 600px) {
    #title-top {
        font-size: 3.5vh;
        margin-bottom: 3vh;
    }
    .flexer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-cont {
        padding: 1vh 0vw;
    }
    #container-top {
        background-color: white;
        margin: 5px 10px;
        border-radius: 10px;
        padding: 5px;
        min-height: 10vh;
    }
    #container-bot {
        background-color: rgb(39, 39, 39);
        color: rgb(235, 235, 235);
        border-radius: 10px;
        margin: 5px 10px;
        padding: 5px;
        min-height: 15vh;
    }
    .title-cont {
        font-size: 4vw;
    }
    #log-btn {
        background-color: black;
        color: white;
        width: 15vw;
        height: 4vh;
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
        border: 0px;
        margin: 2vh;
    }

    #track-btn {
        background-color: white;
        color: black;
        width: 15vw;
        height: 4vh;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(102, 102, 102);
        border: 0px;
        margin-top: 1vh;
        margin-bottom: 1.5vh;;
    }

    #container-foot {
        background-color: rgb(45, 34, 34);
        color: white;
        margin-top: auto;
        margin-bottom: 0px;
        padding-bottom: 15px;
        
        width:100vw;
        text-align: center;
        padding-top: 1.5vh;

    }
    #delete-btn {
        background-color: rgb(200, 128, 128);
        color: white;
        height: 3.5vh;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 5px 5px 5px rgb(92, 92, 92);

    }
}
@media(min-width: 601px) {
    #title-top {
        font-size: 4vw;
        margin-bottom: 3vh;
    }
    .flexer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .title-cont {
        padding: 1vh 0vw;
    }
    #container-top {
        background-color: white;
        margin: 5px 10px;
        border-radius: 10px;
        padding: 5px;
        min-height: 15vh;
    }
    #container-bot {
        background-color: rgb(39, 39, 39);
        color: rgb(235, 235, 235);
        border-radius: 10px;
        margin: 5px 10px;
        padding: 5px;
        min-height: 15vh;
    }
    .title-cont {
        font-size: 2.5vw;
        font-weight:lighter;
    }
    #log-btn {
        background-color: rgb(41, 41, 41);
        color: rgb(255, 255, 255);
        width: 5vw;
        height: 5vh;
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
        border: 0px;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    #log-btn:hover {
        width: 6vw;
        height: 6vh;
    }
    #track-btn {
        background-color: rgb(248, 248, 248);
        color: rgb(0, 0, 0);
        width: 5vw;
        height: 5vh;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(109, 109, 109);
        border: 0px;
        margin-right: 1.5vw;
    }
    #track-btn:hover {
        width: 6vw;
        height: 6vh;
    }
    #container-foot {
        background-color: rgb(45, 34, 34);
        color: white;
        margin-top:auto;
        margin-bottom: 0px;
        width:100vw;
        text-align: center;
        font-size: small;
        padding-top: 1.5vh;

    }
    #delete-btn {
        background-color: rgb(200, 128, 128);
        color: white;
        height: 4vh;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 5px;
        box-shadow: 5px 5px 5px rgb(92, 92, 92);
    }
    #delete-btn:hover {
        height: 5vh;
    }
}

